$color-default: #ff0000;
$text-color: #363636;
$color-black: #000;
$color-white: #fff;
$color-grey-light: rgba(0,0,0,.1);
$font-varela: 'Varela Round', sans-serif;
$transition: .3s ease;
$shadow-big: 0 .1rem 2rem rgba(0,0,0,.15);
$shadow-small: 0 0.2rem .7rem 0 rgba(0,0,0, .08);